<h1>List of all restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <h2><%=link_to restaurant.name, restaurant_path(restaurant)%></h2>
<% end %>

<%= link_to 'Add a new restaurant', new_restaurant_path(@restaurant)%>
